<h2>All Clinics</h2>
<ul>
    <% @clinics.each do |clinic| %>
    <div class="list-group">
        <a href="/clinics/<%= clinic.id %>" class="list-group-item">
            <strong><%= clinic.name %></strong>
                <p><%= clinic.location %></p>
        </a>
    </div>
    <% end %>
</ul>