/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Playfair Display', serif;
}

p, a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

h3 a {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.container h2, .container h3, .container p, .container a.vet-form, div.form-group, div.list-group, fieldset.form-group, label.form-control-label, div.actions, ul.list-group.list-group-flush {
        padding: 0px 40px;
    }

.container a.list-group-item {
    padding: 10px 40px;
}

.container table {
    margin: 0px 40px;
}

.container table a {
    padding: 0px;
}

.container a, button.btn.btn-link {
    color: #379ea9;
}

.container a:hover, button.btn.btn-link:hover {
    color: #163a3e
}

h2 {
    height: 40px;
}

/* h2, form {
    margin: 1rem rem;
} */

.navbar {
    margin-left: 5px;
    margin-bottom: 40px;
    list-style-type: none;
}

#menubar-logo img {
    margin-right: 2px;
}

#welcome-msg {
    position: relative;
    text-align: center;
}

#welcome-msg h2 {
    font-family: 'Playfair Display', serif;
    position: absolute;
    color: #379ea9;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#error_explanation {
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius:.7em;
    border: 1px solid;
    border-color: rgb(238, 74, 99);
    color: rgb(238, 74, 99);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

.flash {
    position: relative;
    padding: 10px;
    border-radius:.7em;
    border: 1px solid;
    color: rgb(238, 74, 99);
}

.closebtn {
    position: absolute;
    right: 10px;
    top: 2px;
    color: rgb(238, 74, 99);
    font-weight: bold;
}
