// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.navbar {
    margin-bottom: 40px;
}

#menubar-logo img {
    margin-top: 10px;
    margin-bottom: 2px;
    margin-right: 10px;
}

#welcome-msg img {
    position: relative;
    margin-bottom: 2px;
}

#welcome-msg h2 {
    font-family: 'Playfair Display', serif;
    position: absolute;
    color: #379ea9;
    margin-left: 90px;
}

#error_explanation {
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius:.7em;
    border: 2px solid;
    border-color: red;
    color: red;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

.closebtn {
    position: absolute;
    right: 100px;
    top: 100px;
    color: red;
    font-weight: bold;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

body {
    font-family: 'Playfair Display', serif;
}