<%= render 'form_errors' %>

<% if is_vet %>
    <h3>Book an appointment for your patient:</h3>

    <%= render 'vet_form' %>

<% elsif current_owner %>
    <h3>Book <%=@appointment.pet.name %>'s appointment:</h3>

    <%= render 'pet_form' %>
    
<%end%>